{% extends "booking/layout.html" %}
{% block template_name %}index{% endblock %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block user %}
    {% if request.user.first_name %}
        {{ request.user.first_name|title }}
    {% else %}
        {{ request.user.username|title }}
    {% endif %}
{% endblock %}

{% block head %}
{% endblock %}

{% block main %}

    <div class='message' id='message'>
        {% if message %}
         {{ message }}
        {% endif %}
    </div>

    <h1 id='pHeading'></h1>

    <div class='view' id='home-view'>
        {% block home %}
            Home
        {% endblock %}
    </div>

    {%  block register_user %}
        <div class='view' id='register_user-view'>
            Register User
        </div>
    {% endblock %}

    {%  block register_standin %}
        <div class='view' id='register_standin-view'>
            Register Stand-in
        </div>
    {% endblock %}

    {%  block reg_pending %}
        <div class='view' id='registration_pending-view'>
            <h3 class='success_message'>Thanks for registering!</h3>
            Your registration is pending approval. You will be notified once an admin approves your account.
        </div>
    {% endblock %}

    {%  block login %}
        <div class='view' id='login-view'>
            login
        </div>
    {% endblock %}

    {%  block logout %}
        <div class='view' id='logout-view'>
            logout
        </div>
    {% endblock %}

    {%  block standin_profile %}
        <div class='view' id='standinProfile-view'>
            Standin Profile
        </div>
    {% endblock %}

{% endblock %}