{% extends "booking/layout.html" %}
{% load static %}

<!-- {
    'title': f'{user.first_name} {user.last_name}',
    'user': user,
    'availabilities': availabilities,
    'avail_checks': avail_checks,
    'bookings': bookings,
    'message': message
} -->

{% block title %}
    {{ title }}
{% endblock %}



<h1 id='pHeading'>Welcome to the Stand-in Cantina</h1>


{% block main %}
    {% if message %}
        <div class='message'>
            {{ message }}
        </div>
    {% endif %}

    <div>
        <h1>Bookings</h1>
        <ul>
        {% for booking in bookings %}
            <li>{{ booking }}</li>
        {% endfor %}
        </ul>
    </div>

    <div>
        <h1>Avail Checks</h1>
        <ul>
        {% for avail_check in avail_checks %}
            <li>{{ avail_check }}</li>
        {% endfor %}
        </ul>
    </div>

    <div>
        <h1>Availability</h1>
        <ul>
        {% for availability in availabilities %}
            <li>{{ availability }}</li>
        {% endfor %}
        </ul>
    </div>
    <p>First Name: {{ user.first_name }}</p>
{% endblock %}